body {
  font-family: "Helvetica Neue", serif;
}

ul.rooms {
  width: 93vw;
  padding-left: 2%;
  padding-right: 2%;
}

.roomComponent {
  height: 23vh;
  margin-bottom: 1vh;
  background-color: #FEFFC3;
  list-style-type: none;
  padding: 1.5em;

  p {
    color: #626262;
  }
}
