@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif, "Helvetica Neue", serif;
}

section {
  margin: 40px 70px 0 70px;
}

h1 {
  font-size: 2.5em;
  padding-bottom: .4em;
}

ul.rooms {
  width: 100%;
  padding: 20px 0 40px;
}

.roomComponent {
  list-style-type: none;
  padding: 10px 10px;
  margin: 12px 0;

  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 5px;

  hr {
    margin-top: 12px;
  }

  &:last-child hr {
    display: none;
  }

  p {
    margin-top: 0.5em;
    color: #626262;
  }
}

.introScreenComponent {
  h1 {
    margin-top: 2em;
  }
  h3 {
    margin-top: 1em;
  }
  text-align: center;
  .instructions {
    min-width: 300px;
    width: 90%;
    max-width:500px;
    padding: 1em;
    margin: 2em auto;
    text-align: left;
  }
}

h2.sort {

  .not-selected {
    color: #C3C3C3;
  }

  .selected, .not-selected {
    cursor: pointer;
  }

  .selected {
    color: black;
    border-bottom: 5px solid #e73571;
  }
}

.perfect-button {
  color: white;
  font-size: 20px;
  font-family: helvetica;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 20px;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  background-color: black;
  padding: 15px 40px;
}

.perfect-button:hover {
  color: black;
  border: 2px solid black;
  background-color: white;
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
}


.blankScreenComponent {
  text-align: center;
  margin-top: 5em;
}

.noRooms {
  margin-top: 2em;
}
