html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", serif;
}

section {
  margin: 40px 70px 0 70px;
}

h1 {
  font-size: 3em;
}

ul.rooms {
  width: 100%;
  padding: 20px 0 40px;
}

.roomComponent {
  list-style-type: none;
  padding: 12px 0 0;

  hr {
    margin-top: 12px;
  }

  &:last-child hr {
    display: none;
  }

  p {
    margin-top: 5px;
    color: #626262;
  }
}

li.roomComponent:first-child {
  padding-top: 5em;
}

.topStatusBar {
  position: fixed;
  height: 5em;
  width: 100%;
  background-color: #e6e6e6;
  line-height: 5em;
  text-align: center;
}

.bottomStatusBar {
  position: fixed;
  background-color: #e6e6e6;
  bottom: 0;
  width: 100%;
  line-height: 5em;
  text-align: center;
  height: 5em;
}

.introScreenComponent {
  text-align: center;
}
